[submodule "helm"]
	path = helm
	url = https://github.com/emacs-helm/helm.git
[submodule "expand-region"]
	path = expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "workgroups"]
	path = workgroups
	url = git://github.com/tlh/workgroups.el
[submodule "twittering-mode"]
	path = twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "bookmark-plus"]
	path = bookmark-plus
	url = https://github.com/emacsmirror/bookmark-plus.git
[submodule "undo-tree"]
	path = undo-tree
	url = https://github.com/emacsmirror/undo-tree.git
[submodule "emacs-skype"]
	path = emacs-skype
	url = https://github.com/kiwanami/emacs-skype.git
